/*
-----------------------------------------------------
Main SCSS file for IWD - 03 Assignment

Stephanie Koltun 

-----------------------------------------------------
*/
/* Compass */
/* Import partial files */
/* ----- MEDIA QUERIES ----- */
@font-face {
  font-family: "Akkurat";
  src: url(/fonts/Akkurat.otf) format('opentype');
}

@font-face {
  font-family: "Akkurat-Italic";
  src: url(/fonts/Akkurat-Italic.otf) format('opentype');
}

@font-face {
  font-family: "Akkurat-Bold";
  src: url(/fonts/Akkurat-Bold.otf) format('opentype');
}

@font-face {
  font-family: "Akkurat-BoldItalic";
  src: url(/fonts/Akkurat-BoldItalic.otf) format('opentype');
}

@font-face {
  font-family: "Akkurat-Light";
  src: url(/fonts/Akkurat-Light.otf) format('opentype');
}

@font-face {
  font-family: "Akkurat-LightItalic";
  src: url(/fonts/Akkurat-LightItalic.otf) format('opentype');
}

@font-face {
  font-family: "FontAwesome";
  src: url(/fonts/font-awesome/fonts/FontAwesome.otf) format('opentype');
}

/* line 10, scss/defaults/_typography.scss */
p {
  color: #333333;
  font-family: "Akkurat-Light";
  font-size: .8em;
}
/* line 17, scss/defaults/_typography.scss */
p a {
  text-decoration: none;
}
/* line 20, scss/defaults/_typography.scss */
p a:link, p a:visited {
  color: #333333;
}

/* line 28, scss/defaults/_typography.scss */
h1 {
  margin: 10px 0 20px 0;
  color: #333333;
  font-family: "Akkurat-Bold";
  font-weight: 400;
  font-size: 1.4em;
  line-height: 1.2;
  text-transform: uppercase;
}
/* line 40, scss/defaults/_typography.scss */
h1 a:link, h1 a:visited {
  text-decoration: underline;
  color: #333333;
}
/* line 45, scss/defaults/_typography.scss */
h1 a:hover {
  text-decoration: none;
}

/* // typical h2 styles
h2 {
	color: $color-main;
	text-transform: uppercase;
	margin: 0;

	font: {
		family: "Akkurat";
		size: .7em;
		weight: 100;
	}
}
 */
/* line 68, scss/defaults/_typography.scss */
h3 {
  display: inline;
  margin: 1em 0 0 0;
  padding-right: 1em;
  float: left;
  color: #333333;
  font-family: "Akkurat-Light";
  font-size: .8em;
  font-weight: 100;
}
/* line 82, scss/defaults/_typography.scss */
h3 a:link, h3 a:visited {
  family: "Akkurat-LightItalic";
  text-decoration: none;
  weight: 400;
  color: #333333;
}

/* {
	border: 1px solid red;
}*/
/* line 31, scss/styles.scss */
html, body {
  height: 100%;
}

/* line 35, scss/styles.scss */
header {
  max-width: 130px;
  float: left;
  height: 1000px;
}

/* line 41, scss/styles.scss */
body {
  margin: 0 auto;
  background-color: white;
}

/* line 47, scss/styles.scss */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 53, scss/styles.scss */
li {
  padding-right: 1em;
}

/* ----------- NAVIGATION ----------- */
/* line 62, scss/styles.scss */
#nav-bar {
  margin: 0 auto;
  padding: 15px 30px;
  background-color: #ededed;
  font-family: "Akkurat";
}
/* line 68, scss/styles.scss */
#nav-bar a, #nav-bar a:visited {
  color: #333333;
  text-decoration: none;
}
/* line 72, scss/styles.scss */
#nav-bar a:hover {
  color: #333333;
  text-decoration: underline;
}

/* line 78, scss/styles.scss */
#key {
  margin-bottom: 50px;
}
/* line 7, scss/defaults/_mixins.scss */
#key h1 {
  color: #333333;
  font-family: "Akkurat";
  font-text-transform: uppercase;
  font-size: .8em;
  margin: 0;
}
/* line 17, scss/defaults/_mixins.scss */
#key h2 {
  color: #b2b2b2;
  font-family: "Akkurat-Italic";
  font-size: .7em;
  font-weight: 100;
  margin-top: 20px;
  margin-bottom: 5px;
}
/* line 29, scss/defaults/_mixins.scss */
#key p {
  color: #333333;
  font-family: "Akkurat-Light";
  font-size: .7em;
}
/* line 37, scss/defaults/_mixins.scss */
#key a {
  text-decoration: none;
}
/* line 40, scss/defaults/_mixins.scss */
#key a:link, #key a:visited {
  color: #333333;
}
/* line 80, scss/styles.scss */
#key li {
  color: #333333;
  font-family: "Akkurat-LightItalic";
  font-size: .7em;
  padding: 0px 0px 3px 0px;
  margin: 0;
}
/* line 90, scss/styles.scss */
#key i {
  color: #333333;
  padding-right: 13px;
}

/* line 7, scss/defaults/_mixins.scss */
#modes h1, #sort h1, #arrange h1, #group h1 {
  color: #333333;
  font-family: "Akkurat";
  font-text-transform: uppercase;
  font-size: .8em;
  margin: 0;
}
/* line 17, scss/defaults/_mixins.scss */
#modes h2, #sort h2, #arrange h2, #group h2 {
  color: #b2b2b2;
  font-family: "Akkurat-Italic";
  font-size: .7em;
  font-weight: 100;
  margin-top: 20px;
  margin-bottom: 5px;
}
/* line 29, scss/defaults/_mixins.scss */
#modes p, #sort p, #arrange p, #group p {
  color: #333333;
  font-family: "Akkurat-Light";
  font-size: .7em;
}
/* line 37, scss/defaults/_mixins.scss */
#modes a, #sort a, #arrange a, #group a {
  text-decoration: none;
}
/* line 40, scss/defaults/_mixins.scss */
#modes a:link, #modes a:visited, #sort a:link, #sort a:visited, #arrange a:link, #arrange a:visited, #group a:link, #group a:visited {
  color: #333333;
}
/* line 99, scss/styles.scss */
#modes li, #sort li, #arrange li, #group li {
  color: #b2b2b2;
  font-family: "Akkurat-Light";
  font-size: .7em;
}
/* line 107, scss/styles.scss */
#modes i, #sort i, #arrange i, #group i {
  color: #b2b2b2;
  padding-left: 6px;
}

/* line 113, scss/styles.scss */
#legend {
  padding: 0;
  margin: 0;
}

/*--------- GRAPH ---------*/
/* line 125, scss/styles.scss */
.lines {
  stroke-width: 1px;
  stroke-dasharray: 1px , 1.5px;
  stroke-linecap: butt;
  stroke-opacity: 0.4;
  stroke: black;
}

/* line 133, scss/styles.scss */
.obj-trigger {
  stroke-width: 10px;
  stroke-linecap: round;
  stroke: #f0f0f0;
  stroke-opacity: 0.0;
}

/* line 140, scss/styles.scss */
.created {
  stroke: teal;
  stroke-width: 4px;
  stroke-opacity: 1;
  stroke-linecap: square;
}

/* line 147, scss/styles.scss */
.exhibited {
  stroke: purple;
  stroke-width: 4px;
  stroke-opacity: 1;
  stroke-linecap: square;
}

/* line 154, scss/styles.scss */
.acquired {
  stroke: orange;
  stroke-width: 1px;
  fill: white;
}

/* line 162, scss/styles.scss */
.axis text {
  font-family: Helvetica,sans-serif;
  font-size: 10px;
  font-weight: 400;
}

/* line 169, scss/styles.scss */
.axis line {
  fill: none;
  stroke: darkgrey;
  stroke-width: 3px;
  shape-rendering: crispEdges;
}

/* line 176, scss/styles.scss */
.axis path, .subaxis path {
  display: none;
}

/* line 180, scss/styles.scss */
.subaxis text {
  display: none;
}

/* line 184, scss/styles.scss */
.subaxis line {
  fill: none;
  stroke: lightgrey;
  stroke-width: 1.5px;
  shape-rendering: crispEdges;
}

/* line 191, scss/styles.scss */
.tooltip {
  text-anchor: middle;
  font-family: sans-serif;
  font-size: 8px;
  fill: black;
}

/* line 200, scss/styles.scss */
button {
  border: none;
  background-color: #ededed;
  padding: 0;
  margin: 0;
  cursor: default;
  color: #b2b2b2;
  font-family: "Akkurat-Light";
  font-size: 1em;
}
/* line 7, scss/defaults/_mixins.scss */
button h1 {
  color: #333333;
  font-family: "Akkurat";
  font-text-transform: uppercase;
  font-size: .8em;
  margin: 0;
}
/* line 17, scss/defaults/_mixins.scss */
button h2 {
  color: #b2b2b2;
  font-family: "Akkurat-Italic";
  font-size: .7em;
  font-weight: 100;
  margin-top: 20px;
  margin-bottom: 5px;
}
/* line 29, scss/defaults/_mixins.scss */
button p {
  color: #333333;
  font-family: "Akkurat-Light";
  font-size: .7em;
}
/* line 37, scss/defaults/_mixins.scss */
button a {
  text-decoration: none;
}
/* line 40, scss/defaults/_mixins.scss */
button a:link, button a:visited {
  color: #333333;
}
/* line 214, scss/styles.scss */
button :hover, button :active, button :focus {
  color: #333333;
  font-family: "Akkurat";
  font-size: 1em;
  cursor: pointer;
}

/* line 227, scss/styles.scss */
button:hover,
button:active,
button:focus {
  color: #333333;
  font-family: "Akkurat";
  font-size: 1em;
  cursor: pointer;
}

/*--------- MAIN BLOG PAGE ---------*/
/* line 243, scss/styles.scss */
.clear {
  clear: both;
  line-height: 0;
}
