$color-main: #333; // dark grey
$color-light: #b2b2b2; // light grey
$color-bkgd: #ededed;// body background 
$color-accent: #f6f6f6; // submenu background


$max-width-large: 1050px;
$max-width-medium: 700px;
$max-width-small: 550px;


/* ----- MEDIA QUERIES ----- */

//iPhone horizontal - anything below this
$width-small:  800px;
//iPad horizontal - anything above this
$width-medium: 820px;
//desktop
$width-large:  1100px;