/*
-----------------------------------------------------
Main SCSS file for IWD - 03 Assignment

Stephanie Koltun 

-----------------------------------------------------
*/


/* Compass */
@import "compass/css3"; 
@import "compass/css3/font-face";
@import "compass/css3/filter";



/* Import partial files */

// Mixins
@import "defaults/mixins.scss";
// Variables
@import "defaults/variables.scss";
// Typography
@import "defaults/typography.scss";


/* {
	border: 1px solid red;
}*/

html, body {
	height: 100%;
}

header {
	width: 130px;
	float: left;
	height: 100%;
}

body {
	margin: 0 auto;
	background-color: white;
}


ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	padding-right: 1em;
}






/* ----------- POSITIONING THE SVGs ----------- */

#graph {
	overflow:scroll;
	direction:rtl;
	height: 100%;
	position: absolute;
	top: 0;
	left: 190px;
}

#graphAxes {
	float: left;
	position: relative;
	height: 60px;
	top: 580px;
	left: 0px;
	background-color: rgba(250,250,250,0.85);
}






/* ----------- SCROLL BARS ----------- */

::-webkit-scrollbar {
      width: 5px;
      direction:rtl;
} 

::-webkit-scrollbar-track:vertical, ::-webkit-scrollbar-corner {
      background-color: $color-bkgd;
}

::-webkit-scrollbar-track:horizontal {
	background-color: rgba(250,250,250,0.85);
}

::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2); 
} /* this will style the thumb, ignoring the track */
 
::-webkit-scrollbar-button {
      background-color: #7c2929;
} 






/* ----------- AXES ----------- */

.axis text {
    font-family: Akkurat,sans-serif;
    font-size: 10px;
    font-weight: 400;
    y: -15;

}

.axis line {
    fill: none;
    stroke: darkgrey;
    stroke-width: 2px;
    shape-rendering: crispEdges;
}

.axis path, .subaxis path {
	display: none;
}

.subaxis text {
	display: none;
}

.subaxis line {
    fill: none;
    stroke: lightgrey;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}







/* ----------- LOADING PAGE ----------- */

#loader {
	height: 100%;
	width: 100%;
	z-index: 100;
	background-color: $color-orange;

	margin: 0 auto;
	text-align: center;

	position: absolute;
	top: 0;
	left: 0;

	h1 {
		color: white;
		font: {
			family: "Akkurat-Bold";
			weight: 400;
			size: 4em;
		}
		line-height: 1.2;
		text-transform: uppercase;
		margin: 50px 0 5px 0;
	}

	h2 {
		color: white;
		font: {
			family: "Akkurat";
			weight: 400;
			size: 1.5em;
		}
		line-height: 1.2;
		margin: 0;
		padding: 0;
	}

	p {
		color: $color-main;
		font: {
			family: "Akkurat";
			weight: 400;
			size: 1.4em;
		}
		line-height: 1.5;
	}

	p#credit {
		color: white;
		font: {
			family: "Akkurat";
			weight: 400;
			size: .8em;
		}
		position: absolute;
		bottom: 50px;
		left: 0;
		right: 0;
		margin: 0 auto;
	}

	a {
		&:link, &:visited {
			text-decoration: underline;
			color: white;
		}

		&:hover {
			text-decoration: none;
		}	
	}
}

#loadingWrapper {
	width: 70%;
	max-width: 900px;
	margin: 0 auto;
}

button#loaded {
		border: none;
		background-color: $color-orange;
		color: darken($color-orange, 10%);
		padding: 0;
		cursor: default;

		width: 200px;
		margin: 0 auto;

		display: none; // so that it will fade in when graph is loaded

		opacity: 0.7;
		@include transition-property(all);
		@include transition-duration(0.8s);

		font: {
			family: "Akkurat-Bold";
			size: 2em;
		}
}

button#loaded:hover, button#loaded:active, button#loaded:focus {
		color: $color-main;
		opacity: 0.85;
  		cursor: pointer;
 	}











/* ----------- NAVIGATION ----------- */

#projectTItle:hover {
	cursor: pointer;
}

#nav-bar {
	@include nav-style;

	background-color: lighten($color-orange,5%);
	font-family: "Akkurat";

	a, a:visited {
		@include link-style($color-main, none);
	}

	a:hover {
		@include link-style($color-main, underline);
	}

	z-index: 1;
}


#key {
	@include key-text;
	li {
		color: white;
		font: {
			family: "Akkurat-Light";
			size: .7em;
		}
		padding: 0px 0px 3px 0px;
		margin: 0;
	}

	i {
		color: white;
		padding-right: 13px;
	}
	margin-bottom: 50px;
}

#modes, #sort, #arrange, #group {
	@include key-text;
	li {
		color: white;
		font: {
			family: "Akkurat-Light";
			size: .7em;
		}
	}

	i {
		color: white;
		padding-right: 6px;
	}
}

#legend {
	padding: 0;
	margin: 0;
}






/*--------- GRAPH ---------*/
//MARKERS
.lines {
	stroke-width: 1px;
	stroke-dasharray: 1px , 1.5px;
	stroke-linecap: butt;
	stroke-opacity: 0.4;
	stroke: black;
}

.obj-trigger {
	stroke-width: 10px;
	stroke-linecap: round;
	stroke: rgb(240,240,240);
	stroke-opacity: 0.0;
}

.created {
	stroke: teal;
	stroke-width: 4px;
	stroke-opacity: 1;
	stroke-linecap: square;
}

.exhibited {
	stroke: purple;
	stroke-width: 4px;
	stroke-opacity: 1;
	stroke-linecap: square;
}

.acquired {
	stroke: orange;
	stroke-width: 1px;
	fill: white;
}

.acquiredLine {
	stroke: orange;
}

.createdLine {
	stroke: teal;
}

.exhibitLine {
	stroke: purple;
}



.tooltip {
	text-anchor: middle;
    font-family: sans-serif;
    font-size: 8px;
    fill: black;
}


//SORTING BUTTONS
.resort {
	@include key-text;

	button {
		border: none;
		background-color: lighten($color-orange,5%);
		padding: 0;
		margin: 0;
		cursor: default;

		color: white;
		font: {
			family: "Akkurat-Light";
			size: 1em;
		}
	}

	button:hover, button:active, button:focus {
		color: $color-main;
  		font: {
			family: "Akkurat";
			size: 1em;
		}
  		cursor: pointer;
	 }	
}





#fade {
	height: 100%;
	width: 100%;
	z-index: 200;
	background-color: rgb(100,100,100);
	opacity: 0.25;

	display: none;

	position: absolute;
	top: 0;
}




/*--------- MAIN BLOG PAGE ---------*/

.clear {
	clear: both;
	line-height: 0;
}
