/*
-----------------------------------------------------
Main SCSS file for IWD - 03 Assignment

Stephanie Koltun 

-----------------------------------------------------
*/


/* Compass */
@import "compass/css3"; 
@import "compass/css3/font-face";
@import "compass/css3/filter";



/* Import partial files */

// Mixins
@import "defaults/mixins.scss";
// Variables
@import "defaults/variables.scss";
// Typography
@import "defaults/typography.scss";


/* {
	border: 1px solid red;
}*/

html, body {
	height: 100%;
}

header {
	width: 130px;
	float: left;
	height: 100%;
}

body {
	margin: 0 auto;
	background-color: white;
}


ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	padding-right: 1em;
}


#graph {
	overflow:scroll;
	height: 100%;
	position: absolute;
	top: 0;
	left: 210px;
}

#graphAxes {
	position: absolute;
	top: 1000;
	left: 210px;
}

/* ----------- NAVIGATION ----------- */

#nav-bar {
	@include nav-style;

	background-color: $color-bkgd;
	font-family: "Akkurat";

	a, a:visited {
		@include link-style($color-main, none);
	}

	a:hover {
		@include link-style($color-main, underline);
	}
}


#key {
	@include key-text;
	li {
		color: $color-light;
		font: {
			family: "Akkurat-Light";
			size: .7em;
		}
		padding: 0px 0px 3px 0px;
		margin: 0;
	}

	i {
		color: $color-main;
		padding-right: 13px;
	}
	margin-bottom: 50px;
}

#modes, #sort, #arrange, #group {
	@include key-text;
	li {
		color: $color-light;
		font: {
			family: "Akkurat-Light";
			size: .7em;
		}
	}

	i {
		color: $color-light;
		padding-right: 6px;
	}
}

#legend {
	padding: 0;
	margin: 0;
}






/*--------- GRAPH ---------*/
//MARKERS
.lines {
	stroke-width: 1px;
	stroke-dasharray: 1px , 1.5px;
	stroke-linecap: butt;
	stroke-opacity: 0.4;
	stroke: black;
}

.obj-trigger {
	stroke-width: 10px;
	stroke-linecap: round;
	stroke: rgb(240,240,240);
	stroke-opacity: 0.0;
}

.created {
	stroke: teal;
	stroke-width: 4px;
	stroke-opacity: 1;
	stroke-linecap: square;
}

.exhibited {
	stroke: purple;
	stroke-width: 4px;
	stroke-opacity: 1;
	stroke-linecap: square;
}

.acquired {
	stroke: orange;
	stroke-width: 1px;
	fill: white;
}

.acquiredLine {
	stroke: orange;
}

#exhibitedLine {
	stroke: purple;
}


//LABELS
.axis text {
    font-family: Helvetica,sans-serif;
    font-size: 10px;
    font-weight: 400;

}

.axis line {
    fill: none;
    stroke: darkgrey;
    stroke-width: 3px;
    shape-rendering: crispEdges;
}

.axis path, .subaxis path {
	display: none;
}

.subaxis text {
	display: none;
}

.subaxis line {
    fill: none;
    stroke: lightgrey;
    stroke-width: 1.5px;
    shape-rendering: crispEdges;
}

.tooltip {
	text-anchor: middle;
    font-family: sans-serif;
    font-size: 8px;
    fill: black;
}


//SORTING BUTTONS
button {
	@include key-text;
	border: none;
	background-color: $color-bkgd;
	padding: 0;
	margin: 0;
	cursor: default;

	color: $color-light;
	font: {
		family: "Akkurat-Light";
		size: 1em;
	}

	:hover, :active, :focus {
		color: $color-main;
  		font: {
			family: "Akkurat";
			size: 1em;
		}
  		cursor: pointer;
 	}
}

  
button:hover, 
button:active,
button:focus{
  color: $color-main;
  font: {
		family: "Akkurat";
		size: 1em;
	}
  cursor: pointer;
 }






/*--------- MAIN BLOG PAGE ---------*/

.clear {
	clear: both;
	line-height: 0;
}
