/* {
	border-style: solid;
	border-color: red;
	border width: 1px;
}*/

body {
	margin: 0;
}

/* ----------- NAVIGATION ----------- */

ul {
	margin: 0;
	list-style-type: none;
}

li {
	padding-right: 1em;
	display: inline;
}

li > a:link, a:visited {
	text-decoration: none;
	color: #333;
}

li > a:hover {
	text-decoration: underline;
}

#mainnav, #submenu, #footer {
	padding: 1.2em 12em;
	font-size: 1.1em;
	line-height: 1.3em;
}

#mainnav {
	background-color: white;
	font-family: "Akkurat";
	color: #333;
}

#submenu {
	background-color: #f6f6f6;
	font-family: "Akkurat-Light";
	color: #333;
}

.nav-left {
	margin: 0;
	float: left;
	display: inline;
}

.nav-right {
	margin: 0;
	float: right;
	display: inline;
}

.nav-center {
	margin: auto;
	text-align: center;
	padding-right: 0;
}

.nav-center img {
	padding: 0;
	width: 2em;
}

#current {
	text-decoration: underline;
}


/*--------- FOOTER ---------*/


#footer {
	margin: 0;
	background-color: white;
	font-family: "Akkurat";
	color: #b2b2b2;
}



/*--------- BLOG ARTICLE INDEX ---------*/


#blog {
	background-color: #ededed;
	margin: 0;
	padding: 0 12em;

	/*height: 100%;*/
}



.container {
	margin: 35px;
	height: 400px;
	width: 400px;

	position: relative;

	display: inline-block;
}


article img {
	position: absolute;

	opacity: .5;
}

.text {
	z-index: 100;

	position: absolute;

}

h1 {
	font-family: "Akkurat-Light";
	font-weight: 400;
	font-size: 2em;
	margin: 0 0;
	color: #333;
}

h1 a:link {
	text-decoration: underline;
	color: #333;
}

h1 a:hover {
	text-decoration: none;
}

.data {
	display: inline;
}

h2 {
	font-family: "Akkurat";
	font-size: .8em;
	color: #333;

	margin: 1em 0;

	padding-right: 1em;
	float: left;
}

h3 {
	font-family: "Akkurat-LightItalic";
	font-size: .8em;
	color: #333;

	margin: 1em;

}

h3 a:link {
	text-decoration: none;
	color: #333;
}

p {
	font-family: "Akkurat";
	font-size: 1em;
	color: #333;
}





/* ------------ FONTS ------------- */

@font-face {
	font-family: "Akkurat";
	src: url('fonts/Akkurat.otf');
}

@font-face {
	font-family: "Akkurat-Bold";
	src: url('fonts/Akkurat-Bold.otf');
}


@font-face {
	font-family: "Akkurat-BoldItalic";
	src: url('fonts/Akkurat-BoldItalic.otf');
}

@font-face {
	font-family: "Akkurat-Italic";
	src: url('fonts/Akkurat-Italic.otf');
}

@font-face {
	font-family: "Akkurat-Light";
	src: url('fonts/Akkurat-Light.otf');
}

@font-face {
	font-family: "Akkurat-LightItalic";
	src: url('fonts/Akkurat-LightItalic.otf');
}