/* {
	border-style: solid;
	border-color: red;
	border width: 1px;
}*/

body {
	margin: 0 auto;
}

p {
	font-family: "Akkurat";
	font-size: .9em;
	color: #333;
}

p a:link, p a:visited {
	color: #333;
}

p a:hover {
	font-family: "Akkurat-Italic";
	letter-spacing: 1px;

	/*new in alt-css3*/
	-webkit-transition: all .6s ease; 
    -moz-transition: all .6s ease;
    -o-transition: all .6s ease;
    -ms-transition: all .6s ease;
    transition: all .6s ease;
}

h1 {
	font-family: "Akkurat-Light";
	font-weight: 400;
	font-size: 1.8em;
	margin: 0 0;
	color: #333;
}

h1 a:link, h1 a:visited {
	text-decoration: underline;
	color: #333;
}

h1 a:hover {
	text-decoration: none;
}


h2 {
	font-family: "Akkurat";
	font-size: .8em;
	color: #333;

	margin: 1em 0;

	padding-right: 1em;
	float: left;
}

h3 {
	font-family: "Akkurat-LightItalic";
	font-size: .8em;
	color: #333;

	margin: 1em;

}

h3 a:link, h3 a:visited {
	text-decoration: none;
	color: #333;
}

h4 {
	margin: 5px 0;
	font-family: "Akkurat";
	font-weight: 400;
	font-size: 1em;
	color: #333;
}



/* ----------- NAVIGATION ----------- */

#mainnav, #submenu, #footer {
	padding: 1em 8%;
	font-size: 1em;
}

#mainnav li > a:link, #mainnav li > a:visited {
	text-decoration: none;
	color: #e0e0e0;

	/*new in alt-css3*/
	-webkit-transition: all .8s ease; 
    -moz-transition: all .8s ease;
    -o-transition: all .8s ease;
    -ms-transition: all .8s ease;
    transition: all .8s ease;
}

#mainnav {
	background-color: #fff;
	font-family: "Akkurat";
	color: #333;
}

#mainnav li > a:hover {
	background-color: #e0e0e0;
	padding: 5px;
	color: #fff;
}


#submenu {
	background-color: #f6f6f6;
	font-family: "Akkurat-Light";
	text-transform: lowercase;
}

#submenu li > a:link, #submenu li > a:visited {
	text-decoration: none;
	color: lightgrey;

	/*kept transition from original css*/
	-webkit-transition: color .7s ease;
    -moz-transition: color .7s ease;
    -o-transition: color .7s ease;
    -ms-transition: color .7s ease;
    transition: color .7s ease;
}

#submenu li > a:hover {
	color: #333;
}


#footer {
	margin: 0;
	background-color: white;
	font-family: "Akkurat";
	color: #b2b2b2;
}

#footer a:link, #footer a:visited {
	color: #b2b2b2;
	text-decoration: none;
}

#footer a:hover {
	color: #333;
}

.nav-left {
	margin: 0;
	float: left;
	display: inline;
}

.nav-right {
	margin: 0;
	float: right;
	display: inline;
}

.nav-center {
	margin: 0 auto;
	text-align: center;
}

.nav-center img {
	width: 1.5em;
}

#current {
	text-decoration: underline;
}

img.logo {
	opacity: .3
}

img.logo:hover {
	opacity: .8;
}


ul {
	margin: 0;
	list-style-type: none;
}

li {
	padding-right: 1em;
	display: inline;
}









/*--------- SEARCH ---------*/


form {
	float: right;
	margin: auto;
}

.search {
	padding: 3px 8px;
}

.rounded {  
	-webkit-border-radius:12px; 
	-moz-border-radius:12px;
	-o-border-radius:12px; 
	-ms-border-radius:12px; 
	border-radius:12px;
}

input[type=text]{
	font-family: FontAwesome;
	color:#bcbcbc;
	outline: none;

	border:1px solid #d0d0d0;
	background-color:white;
}

input[type=text]:focus {
	box-shadow: 0 0 5px #d0d0d0;
}






/*--------- BLOG ---------*/

.clear {
	clear: both;
	line-height: 0;
}

#blog {
	background-color: #ededed;
	padding: 30px 8%;

	display: block;
}

.container {
	margin: 10px 10px;
	height: 350px;
	width: 330px;

	float: left;
	position: relative;
	display: table;

	z-index: 1;
}

.data {
	display: inline;
}

.content {
	display: table-cell;
	vertical-align: middle;
}

.text {
	margin: 0 auto;
	width: 80%;
	z-index: 1;
}

img.horizontal {
	width: 90%;
	opacity: .35;
}

img.vertical {
	height: 80%;
	opacity: .35;
}



article img {
	margin: auto;
	position: absolute;	
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	z-index: -1;
}





/*--------- POST ---------*/

.post {
	width: 50%;
	float: left;
}

aside {
	width: 40%;
	float: right;
}

aside p {
	font-family: "Akkurat-LightItalic";
	font-weight: 400;
	text-align: center;
	font-size: 1.4em;
	line-height: 1.5em;
	margin: 0 auto;

	padding: 35px 35px ;
	color: #333;

	border: 2.5px solid #ededed;

	max-width: 80%;

	/*new in alt-css3*/
	-webkit-transition: all .9s ease;
    -moz-transition: all .9s ease;
    -o-transition: all .9s ease;
    -ms-transition: all .9s ease;
    transition: all .9s ease;
}

aside p:hover {
	border: 2.5px solid #333;
}

figure {
	width: 100%;
	display: block;
	margin: 50px auto 35px auto;

	padding: 30px 0 20px 0;

	text-align: center;
}

figure:hover {
	background-color: #f6f6f6;
	/*new in alt-css3*/
	-webkit-transition: all .9s ease;
    -moz-transition: all .9s ease;
    -o-transition: all .9s ease;
    -ms-transition: all .9s ease;
    transition: all .9s ease;
}

figure img {
	opacity: .3;
	max-width: 100%;

	/*new in alt-css3*/
	-webkit-transition: all .9s ease;
    -moz-transition: all .9s ease;
    -o-transition: all .9s ease;
    -ms-transition: all .9s ease;
    transition: all .9s ease;
}

figure:hover img{
	opacity: 1;
}

figcaption {
	padding: 10px 0px;
	font-family: "Akkurat-Light";
	font-size: .8em;
	color: #333;



	opacity: 0;

	/*new in alt-css3*/
	-webkit-transition: all .9s ease-in;
    -moz-transition: all .9s ease-in;
    -o-transition: all .9s ease-in;
    -ms-transition: all .9s ease-in;
    transition: all .9s ease-in;
}

figure:hover figcaption {
	opacity: 1;
}













/* ------------ FONTS ------------- */

@font-face {
	font-family: "FontAwesome";
	src: url('fonts/font-awesome/fonts/FontAwesome.otf');
}

@font-face {
	font-family: "Akkurat";
	src: url('fonts/Akkurat.otf');
}

@font-face {
	font-family: "Akkurat-Bold";
	src: url('fonts/Akkurat-Bold.otf');
}


@font-face {
	font-family: "Akkurat-BoldItalic";
	src: url('fonts/Akkurat-BoldItalic.otf');
}

@font-face {
	font-family: "Akkurat-Italic";
	src: url('fonts/Akkurat-Italic.otf');
}

@font-face {
	font-family: "Akkurat-Light";
	src: url('fonts/Akkurat-Light.otf');
}

@font-face {
	font-family: "Akkurat-LightItalic";
	src: url('fonts/Akkurat-LightItalic.otf');
}