/* {
	border-style: solid;
	border-color: red;
	border width: 1px;
}*/

body {
	margin: 0;
}

/* ----------- NAVIGATION ----------- */

#mainnav {
	background-color: white;
	padding: 1.2em 12em;
}

#submenu {
	background-color: #f6f6f6;
	padding: 1.2em 12em;
}

ul {
	margin: 0;
	list-style-type: none;
}

li, a, a:visited {
	font-family: "Akkurat";
	color: #333;
	font-size: 1.1em;
	line-height: 1.3em;

	text-decoration: none;

	padding-right: 1em;
	display: inline;
}

.nav-left {
	margin: 0;
	float: left;
	display: inline;
}

.nav-right {
	margin: 0;
	float: right;
	display: inline;
}

.nav-center {
	margin: auto;
	text-align: center;
	padding-right: 0;
}

.nav-center img {
	padding: 1em 0;
	width: 2em;
}

#current {
	text-decoration: underline;
}




/*--------- BLOG ARTICLE INDEX ---------*/


#blog {
	background-color: #ededed;
	margin: 0;
	padding: 0 12em;
}



.post {
	padding: 2em;
	height: 400px;
	width: 400px;
	position: relative;
}

img {
	position: absolute;
	left: 25;
	top: 0;
	width: 350px;

	opacity: .65;
}

.text {
	z-index: 100;
	position: absolute;

	width: 350px;

	left: 50px;
	top: 50px;
}

h1 {
	font-family: "Akkurat-Light";
	font-size: 2em;
	margin: 0 0;
	color: #333;
}

h1 a {
	text-decoration: none;
	color: #333;
}

h1 a:hover {
	text-decoration: underline;
}

.data {
	display: inline;
}

h2 {
	font-family: "Akkurat";
	font-size: .8em;
	color: #333;

	margin: 1em 0;

	padding-right: 1em;
	float: left;
}

h3 {
	font-family: "Akkurat-Light";
	font-size: .8em;
	color: #333;

	margin: 1em;

}

h3 a {
	text-decoration: none;
	color: #333;
}

p {
	font-family: "Akkurat";
	font-size: 1em;

	color: #333;

	margin: 0;
}


#footer {
	background-color: white;
	padding: 1.2em 12em;

	margin: 0;
}

#footer > div > li {
	color: #b2b2b2;
}



/* ------------ FONTS ------------- */

@font-face {
	font-family: "Akkurat";
	src: url('fonts/Akkurat.otf');
}

@font-face {
	font-family: "Akkurat-Bold";
	src: url('fonts/Akkurat-Bold.otf');
}


@font-face {
	font-family: "Akkurat-BoldItalic";
	src: url('fonts/Akkurat-BoldItalic.otf');
}

@font-face {
	font-family: "Akkurat-Italic";
	src: url('fonts/Akkurat-Italic.otf');
}

@font-face {
	font-family: "Akkurat-Light";
	src: url('fonts/Akkurat-Light.otf');
}

@font-face {
	font-family: "Akkurat-LightItalic";
	src: url('fonts/Akkurat-LightItalic.otf');
}