/*
-----------------------------------------------------
Main SCSS file for IWD - 03 Assignment

Stephanie Koltun 

-----------------------------------------------------
*/
/* Compass */
/* Import partial files */
/* ----- MEDIA QUERIES ----- */
@font-face {
  font-family: "Akkurat";
  src: url('/stylesheets/fonts/fonts/Akkurat.otf') format('opentype');
}

@font-face {
  font-family: "Akkurat-Italic";
  src: url('/stylesheets/fonts/fonts/Akkurat-Italic.otf') format('opentype');
}

@font-face {
  font-family: "Akkurat-Bold";
  src: url('/stylesheets/fonts/fonts/Akkurat-Bold.otf') format('opentype');
}

@font-face {
  font-family: "Akkurat-BoldItalic";
  src: url('/stylesheets/fonts/fonts/Akkurat-BoldItalic.otf') format('opentype');
}

@font-face {
  font-family: "Akkurat-Light";
  src: url('/stylesheets/fonts/fonts/Akkurat-Light.otf') format('opentype');
}

@font-face {
  font-family: "Akkurat-LightItalic";
  src: url('/stylesheets/fonts/fonts/Akkurat-LightItalic.otf') format('opentype');
}

@font-face {
  font-family: "FontAwesome";
  src: url('/stylesheets/fonts/fonts/font-awesome/fonts/FontAwesome.otf') format('opentype');
}

/* line 10, scss/defaults/_typography.scss */
p {
  color: #333333;
  font-family: "Akkurat";
  font-size: .9em;
}
/* line 17, scss/defaults/_typography.scss */
p a {
  text-decoration: none;
}
/* line 20, scss/defaults/_typography.scss */
p a:link, p a:visited {
  color: #333333;
}

/* line 28, scss/defaults/_typography.scss */
h1 {
  margin: 0 0;
  color: #333333;
  font-family: "Akkurat-Light";
  font-weight: 400;
  font-size: 1.8em;
}
/* line 38, scss/defaults/_typography.scss */
h1 a:link, h1 a:visited {
  text-decoration: underline;
  color: #333333;
}
/* line 43, scss/defaults/_typography.scss */
h1 a:hover {
  text-decoration: none;
}
@media screen and (max-width: 600px) {
  /* line 28, scss/defaults/_typography.scss */
  h1 {
    font-size: 1.3em;
  }
}
@media screen and (max-width: 800px) {
  /* line 28, scss/defaults/_typography.scss */
  h1 {
    font-size: 1.6em;
  }
}

/* line 59, scss/defaults/_typography.scss */
h2 {
  display: inline;
  margin: 1em 0;
  padding-right: 1em;
  float: left;
  color: #333333;
  font-family: "Akkurat";
  font-size: .8em;
  font-weight: 400;
}

/* line 77, scss/defaults/_typography.scss */
h3 {
  margin: 1em 0;
  color: #333333;
  font-family: "Akkurat-Light";
  font-size: .8em;
  font-weight: 100;
}
/* line 88, scss/defaults/_typography.scss */
h3 a:link, h3 a:visited {
  family: "Akkurat-LightItalic";
  text-decoration: none;
  weight: 400;
  color: #333333;
}

/*{
	border: 1px solid red;
}*/
/* line 32, scss/styles.scss */
body {
  margin: 0 auto;
  background-color: #ededed;
}

/* line 38, scss/styles.scss */
ul {
  margin: 0 auto;
  list-style-type: none;
}
@media screen and (max-width: 1200px) {
  /* line 38, scss/styles.scss */
  ul {
    max-width: 1050px;
  }
}
@media screen and (max-width: 800px) {
  /* line 38, scss/styles.scss */
  ul {
    max-width: 700px;
  }
}
@media screen and (max-width: 600px) {
  /* line 38, scss/styles.scss */
  ul {
    max-width: 100%;
  }
}

/* line 55, scss/styles.scss */
li {
  padding-right: 1em;
  display: inline;
}

/* ----------- NAVIGATION ----------- */
/* line 65, scss/styles.scss */
#mainnav {
  padding: 1em 0;
  font-size: 1em;
  margin: 0 auto;
  background-color: white;
  font-family: "Akkurat";
}
@media screen and (max-width: 600px) {
  /* line 65, scss/styles.scss */
  #mainnav {
    font-size: .8em;
  }
}
@media screen and (min-width: 800px) {
  /* line 65, scss/styles.scss */
  #mainnav {
    font-size: .9em;
  }
}
@media screen and (min-width: 1200px) {
  /* line 65, scss/styles.scss */
  #mainnav {
    font-size: 1em;
  }
}
/* line 71, scss/styles.scss */
#mainnav a, #mainnav a:visited {
  color: #333333;
  text-decoration: none;
}
/* line 75, scss/styles.scss */
#mainnav a:hover {
  color: #333333;
  text-decoration: underline;
}

/* line 80, scss/styles.scss */
#submenu {
  padding: 1em 0;
  font-size: 1em;
  margin: 0 auto;
  background-color: #f6f6f6;
  font-family: "Akkurat-Light";
  text-transform: lowercase;
}
@media screen and (max-width: 600px) {
  /* line 80, scss/styles.scss */
  #submenu {
    font-size: .8em;
  }
}
@media screen and (min-width: 800px) {
  /* line 80, scss/styles.scss */
  #submenu {
    font-size: .9em;
  }
}
@media screen and (min-width: 1200px) {
  /* line 80, scss/styles.scss */
  #submenu {
    font-size: 1em;
  }
}
/* line 87, scss/styles.scss */
#submenu a, #submenu a:visited {
  color: #b2b2b2;
  text-decoration: none;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
}
/* line 96, scss/styles.scss */
#submenu a:hover {
  color: #333333;
  text-decoration: none;
}
@media screen and (max-width: 600px) {
  /* line 80, scss/styles.scss */
  #submenu {
    display: none;
  }
}

/* line 107, scss/styles.scss */
#footer-nav {
  padding: 1em 0;
  font-size: 1em;
  margin: 0 auto;
  margin: 0;
  background-color: white;
  font-family: "Akkurat";
}
@media screen and (max-width: 600px) {
  /* line 107, scss/styles.scss */
  #footer-nav {
    font-size: .8em;
  }
}
@media screen and (min-width: 800px) {
  /* line 107, scss/styles.scss */
  #footer-nav {
    font-size: .9em;
  }
}
@media screen and (min-width: 1200px) {
  /* line 107, scss/styles.scss */
  #footer-nav {
    font-size: 1em;
  }
}
/* line 114, scss/styles.scss */
#footer-nav a, #footer-nav a:visited {
  color: #b2b2b2;
  text-decoration: none;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
}
/* line 122, scss/styles.scss */
#footer-nav a:hover {
  color: #333333;
  text-decoration: none;
}

/* line 128, scss/styles.scss */
.nav-left {
  margin: 0;
  float: left;
  display: inline;
}

/* line 134, scss/styles.scss */
.nav-right {
  margin: 0;
  float: right;
  display: inline;
}

/* line 140, scss/styles.scss */
.nav-center {
  margin: 0 auto;
  text-align: center;
}

/* line 145, scss/styles.scss */
.nav-center img {
  width: 1.5em;
}

/* line 149, scss/styles.scss */
#current {
  text-decoration: underline;
}

/* line 153, scss/styles.scss */
img.logo {
  opacity: 0.3;
}

/* line 157, scss/styles.scss */
img.logo:hover {
  opacity: 1;
}

/*--------- SEARCH ---------*/
/* line 169, scss/styles.scss */
form {
  float: right;
  margin: auto;
}
@media screen and (max-width: 600px) {
  /* line 169, scss/styles.scss */
  form {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  /* line 169, scss/styles.scss */
  form {
    display: block;
  }
}
@media screen and (max-width: 1200px) {
  /* line 169, scss/styles.scss */
  form {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  /* line 187, scss/styles.scss */
  .search-icon {
    display: inline-block;
  }
}
@media screen and (max-width: 800px) {
  /* line 187, scss/styles.scss */
  .search-icon {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  /* line 187, scss/styles.scss */
  .search-icon {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  /* line 202, scss/styles.scss */
  .search {
    padding: 2px 6px;
  }
}
@media screen and (max-width: 1200px) {
  /* line 202, scss/styles.scss */
  .search {
    padding: 3px 8px;
  }
}

/* line 213, scss/styles.scss */
.rounded {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
}

/* line 217, scss/styles.scss */
input[type=text] {
  color: #b2b2b2;
  outline: none;
  border: 1px solid #b2b2b2;
  background-color: white;
}

/* line 225, scss/styles.scss */
input[type=text]:focus {
  box-shadow: 0 0 3px #b2b2b2;
}

/*--------- MAIN BLOG PAGE ---------*/
/* line 235, scss/styles.scss */
.clear {
  clear: both;
  line-height: 0;
}

/* line 240, scss/styles.scss */
#blog-index {
  padding: 30px 50px;
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 600px) {
  /* line 240, scss/styles.scss */
  #blog-index {
    max-width: 100%;
    width: 90%;
  }
}
@media screen and (min-width: 800px) {
  /* line 240, scss/styles.scss */
  #blog-index {
    max-width: 700px;
  }
}
@media screen and (min-width: 1200px) {
  /* line 240, scss/styles.scss */
  #blog-index {
    max-width: 1050px;
  }
}

/* line 246, scss/styles.scss */
.container {
  margin: 10px 10px;
  height: 350px;
  width: 330px;
  float: left;
  position: relative;
  display: table;
  z-index: 1;
}
@media screen and (max-width: 600px) {
  /* line 246, scss/styles.scss */
  .container {
    width: 480px;
    height: 260px;
  }
}

/* line 263, scss/styles.scss */
.data {
  display: inline;
  font-family: "Akkurat-Light";
}

/* line 268, scss/styles.scss */
.content {
  display: table-cell;
  vertical-align: middle;
}

/* line 273, scss/styles.scss */
.text {
  margin: 0 auto;
  width: 80%;
  z-index: 1;
}
/* line 278, scss/styles.scss */
.text a {
  text-decoration: underline;
}
@media screen and (max-width: 600px) {
  /* line 273, scss/styles.scss */
  .text {
    position: relative;
    left: 120px;
    width: 75%;
    margin: 0;
  }
}

/* line 290, scss/styles.scss */
article img {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}

/* line 300, scss/styles.scss */
img.horizontal {
  width: 90%;
  opacity: .35;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
@media screen and (max-width: 600px) {
  /* line 300, scss/styles.scss */
  img.horizontal {
    width: 60%;
  }
}

/* line 312, scss/styles.scss */
img.vertical {
  height: 80%;
  opacity: .35;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

/* line 322, scss/styles.scss */
.container:hover img.vertical, .container:hover img.horizontal {
  opacity: .2;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  filter: blur(2px);
}

/*--------- BLOG POST ---------*/
/* line 335, scss/styles.scss */
#blog-post {
  padding: 30px 50px;
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 600px) {
  /* line 335, scss/styles.scss */
  #blog-post {
    max-width: 100%;
    width: 90%;
  }
}
@media screen and (min-width: 800px) {
  /* line 335, scss/styles.scss */
  #blog-post {
    max-width: 700px;
  }
}
@media screen and (min-width: 1200px) {
  /* line 335, scss/styles.scss */
  #blog-post {
    max-width: 1050px;
  }
}

/* line 339, scss/styles.scss */
.post-content {
  max-width: 570px;
  width: 45%;
  float: left;
}
@media screen and (max-width: 600px) {
  /* line 339, scss/styles.scss */
  .post-content {
    max-width: 100%;
    width: 90%;
    margin: 0 auto;
    float: none;
  }
}

/* line 353, scss/styles.scss */
.right-aside {
  color: #333333;
  font-family: "Akkurat-LightItalic";
  font-weight: 400;
  text-align: center;
  float: right;
  width: 40%;
  margin: 50px 0;
}
@media screen and (max-width: 600px) {
  /* line 353, scss/styles.scss */
  .right-aside {
    float: none;
    width: 100%;
    margin: 30px 0;
  }
}
/* line 369, scss/styles.scss */
.right-aside p {
  margin: 0 auto;
  max-width: 80%;
}
@media screen and (max-width: 600px) {
  /* line 369, scss/styles.scss */
  .right-aside p {
    padding: 50px 0;
    font-size: .9em;
    line-height: 1.2em;
  }
}
@media screen and (max-width: 1200px) {
  /* line 369, scss/styles.scss */
  .right-aside p {
    padding: 80px 0;
    font-size: 1.4em;
    line-height: 1.5em;
  }
}
/* line 386, scss/styles.scss */
.right-aside img {
  width: 100%;
}

/* line 393, scss/styles.scss */
.left-aside {
  width: 5%;
  float: left;
  margin: 40px 0;
}
@media screen and (max-width: 600px) {
  /* line 393, scss/styles.scss */
  .left-aside {
    display: none;
  }
}

/* line 403, scss/styles.scss */
.mobile-data {
  display: none;
}
@media screen and (max-width: 600px) {
  /* line 403, scss/styles.scss */
  .mobile-data {
    display: inline;
  }
}

/* line 412, scss/styles.scss */
figure {
  width: 100%;
  display: block;
  margin: 0 auto;
  position: relative;
  text-align: center;
}
/* line 421, scss/styles.scss */
figure:hover figcaption {
  opacity: 1;
  bottom: -140px;
}

/* line 427, scss/styles.scss */
figcaption {
  position: absolute;
  bottom: -180px;
  left: 0;
  right: 0;
  z-index: 100;
  opacity: 0;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
}
/* line 440, scss/styles.scss */
figcaption .caption {
  color: #f6f6f6;
  font-family: "Akkurat";
  font-size: .6em;
  text-align: center;
}
