/*
-----------------------------------------------------
Main SCSS file for IWD - 03 Assignment

Stephanie Koltun 

-----------------------------------------------------
*/


/* Compass */
@import "compass/css3/font-face";
@import "compass/css3/filter";
@import "compass/css3"; 


/* Import partial files */

// Mixins

@import "defaults/mixins.scss";

// Variables

@import "defaults/variables.scss";

// Typography

@import "defaults/typography.scss";

// Helpers - delete if not used

//@import "defaults/helpers.scss";


body {
	margin: 0 auto;
	background-color: $color-bkgd;
}


ul {
	margin: 0 auto;
	list-style-type: none;
	padding: 0;
	max-width: $max-width;
}

li {
	padding-right: 1em;
	display: inline;
}




/* ----------- NAVIGATION ----------- */

#mainnav {
	@include nav-style;

	background-color: white;
	font-family: "Akkurat";

	a, a:visited {
		@include link-style($color-main, none);
	}

	a:hover {
		@include link-style($color-main, underline);
	}
}

#submenu {
	@include nav-style;

	background-color: $color-accent;
	font-family: "Akkurat-Light";
	text-transform: lowercase;	

	a, a:visited {
		
		@include link-style($color-light, none);

		// transitions for links
		@include transition-property(color);
		@include transition-duration(.7s);
	}

	a:hover {
		@include link-style($color-main, none);
	}
}


#footer-nav {
	@include nav-style;

	margin: 0;
	background-color: white;
	font-family: "Akkurat";

	a, a:visited {
		@include link-style($color-light, none);

		// transitions for links
		@include transition-property(color);
		@include transition-duration(.7s);
	}

	a:hover {
		@include link-style($color-main, none);
	}
}


.nav-left {
	margin: 0;
	float: left;
	display: inline;
}

.nav-right {
	margin: 0;
	float: right;
	display: inline;
}

.nav-center {
	margin: 0 auto;
	text-align: center;
}

.nav-center img {
	width: 1.5em;
}

#current {
	text-decoration: underline;
}

img.logo {
	opacity: .3
}

img.logo:hover {
	opacity: 1;
}






/*--------- SEARCH ---------*/


form {
	float: right;
	margin: auto;
}

.search {
	padding: 3px 8px;
}

.rounded {  
	@include border-radius(12px);
}

input[type=text] {
	color: $color-light;
	outline: none;

	border:1px solid $color-light;
	background-color: white;
}

input[type=text]:focus {
	box-shadow: 0 0 3px $color-light;
}





/*--------- MAIN BLOG PAGE ---------*/

.clear {
	clear: both;
	line-height: 0;
}

#blog-index {
	@include main-content;
}


// Styling for each article element
.container {
	margin: 10px 10px;
	height: 350px;
	width: 330px;

	float: left;
	position: relative;
	display: table;

	z-index: 1;
}

.data {
	display: inline;
	font-family: "Akkurat-Light";
}

.content {
	display: table-cell;
	vertical-align: middle;
}

.text {
	margin: 0 auto;
	width: 80%;
	z-index: 1;

	a {
		text-decoration: underline;
	}
}

article img {
	margin: auto;
	position: absolute;	
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	z-index: -1;
}

img.horizontal {
	width: 90%;
	opacity: .35;

	@include transition-property(all);
	@include transition-duration(.4s);
}

img.vertical {
	height: 80%;
	opacity: .35;

	@include transition-property(all);
	@include transition-duration(.4s);
}


.container:hover {
	img.vertical, img.horizontal{
		opacity: .2;

		@include filter(blur(2px));
	}
}





/*--------- BLOG POST ---------*/

#blog-post {
	@include main-content;
}

.post-content {
	max-width: 570px;
	width: 45%;
	float: left;
	padding: 0 50px;
}

.right-aside {
	@include pull-quote;
	width: 40%;
	float: right;
	margin: 50px 0;

	p {
		margin: 0 auto;
		padding: 50px 0;
		max-width: 80%;
	}
}

.left-aside {
	width: 5%;
	float: left;
	margin: 40px 0;
}



figure {
	width: 100%;
	display: block;
	margin: 0 auto;

	position: relative;
	
	text-align: center;

	&:hover figcaption {
		opacity: 1;
		bottom: -100px;
	}
}

figcaption {

	position: absolute;
	bottom: -150px;
	left: 0;
	right: 0;
	z-index: 100;

	opacity: 0;

	@include transition-property(all);
	@include transition-duration(.7s);

	.caption {
		color: $color-accent;
		font: {
			family: "Akkurat";
			size: .6em;
		}
		text-align: center;
	}
}
